<% content_for :title, "Sign up" %>

<%= render "shared/navbar" %>
<%= render "shared/flash" %>

<div class="row justify-content-center">
  <div class="col-md-5 mt-4" style="max-width:472px">
    <h2><%= yield(:title) %></h2>

    <div class="oauth-login text-center">
      <a class="oauth-login__patreon mr-4"
        href="https://www.patreon.com/oauth2/authorize?response_type=code&client_id=<%= ENV.fetch('PATREON_CLIENT_ID') %>&redirect_uri=<%= accounts_auth_patreon_callback_url %>">
        <img src="<%= image_url('Patreon_Mark_Coral.jpg') %>">
        <span>Log in with Patreon</span>
      </a>
      <%= link_to(account_twitter_omniauth_authorize_path, class: 'oauth-login__twitter ml-4') do %>
        <img src="<%= image_url('Twitter_Social_Icon_Square_Color.png') %>">
        <span>Log in with Twitter</span>
      <% end %>   
    </div>

    <div class="or"><span>OR</span></div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%#= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        <% if resource.errors.messages[:email].present? %>
          <div class="form-error mt-1"><%= resource.errors.messages[:email].first %></div>
        <% end %>
      </div>

      <div class="field form-group">
        <%= f.label :password do %>
          Password
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        <% if resource.errors.messages[:password].present? %>
          <div class="form-error mt-1"><%= resource.errors.messages[:password].first %></div>
        <% end %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        <% if resource.errors.messages[:password_confirmation].present? %>
          <div class="form-error mt-1"><%= resource.errors.messages[:password_confirmation].first %></div>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <div class="mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<div class="pos-bottom">
  <%= render "shared/footer" %>
</div>

<% if Rails.env.development? %>
<pre class="mt-5">
  <%= debug resource.errors.messages %>
</pre>
<% end %>