<% content_for :title, t('dictionary.title.histories') %>

<div id="app">
  <%= render "shared/navbar" %>
  <%= render "shared/flash" %>

  <transition name="fade">
    <div v-if="delete_histories.length" class="history-delete">
      <div class="row justify-content-center">
        <div class="col-12" style="padding: 0 30px;">
          <div class="row" style="align-items: center;">
            <div class="mr-auto">
              {{ delete_histories.length }} <%= t('histories.items-selected') %>
            </div>
            <div class="mr-2">
              <%= link_to t('dictionary.button.cancel'), 'javascript:void(0)', { class: "btn btn-sm", '@click': 'cancel_history_delete' } %>
            </div>
            <div>
              <%= link_to t('histories.delete-selected-items'), 'javascript:void(0)', { class: "btn btn-danger btn-sm", '@click': 'submit_delete_histories_form' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>

  <main class="p-3">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="mt-2"><%= yield(:title) %></h2>
        <p><strong><%= t('histories.note_head') %>: </strong><%= t('histories.note_body') %></p>

        <% if @histories.blank? %>
          <div class="alert alert-warning disable-hide" role="alert">Were found in your histories.</div>
        <% end %>

        <%= form_tag( histories_delete_all_path, method: 'delete', id: 'delete-histories-form' ) do %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="text-center">
                  <%= check_box_tag(:check_all, 'check_all', nil, { id: 'check_all', 'v-model': 'check_all' }) %>
                </th>
                <th scope="col"><%= t('histories.last-access-time') %></th>
                <th scope="col" class="text-center"><%= t('histories.viewed-times') %></th>
                <th scope="col"><%= t('histories.name') %></th>
                <th scope="col"><%= t('histories.domain') %></th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <% @histories&.each do |bookmark| %>
                <tr>
                  <td class="text-center align-middle">
                    <%= check_box_tag 'histories[]', bookmark.id, nil, { class: 'check_history_delete_item', id: "histories_#{bookmark.id}", 'v-model': 'delete_histories' } %>
                  </td>
                  <td class="align-middle"><%= bookmark.last_access_time.to_s(:long) %></td>
                  <td class="text-center align-middle"><%= bookmark.impressions %></td>
                  <td class="align-middle"><a href="<%= bookmark.url %>" target="_blank"><%= bookmark.name %></a></td>
                  <td class="align-middle"><%= url_to_domain(bookmark.url) %></td>
                  <td class="align-middle text-right">
                    <%= link_to t('histories.delete'), delete_history_path(bookmark.id), method: 'delete', class: "btn btn-danger btn-sm" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <div class="d-flex justify-content-center my-5">
            <%= will_paginate @histories, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, 'data-turbolinks': 'false' %>
          </div>
        <% end %>
      </div>
    </div>
  </main>
</div>

<%= render "shared/footer" %>

<%= javascript_pack_tag 'bookmark' %>
<%= stylesheet_pack_tag 'bookmark' %>
